%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.
{deps, [{cowboy, "2.8.0"}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [hello_world_http_server]}
]}.

{relx, [{release, {hello_world_http_server_release, "0.1.0"},
         [hello_world_http_server,
	  crypto,
	  sasl,
	  cowlib,
	  ranch,
	  cowboy]},

	{sys_config, "./config/sys.config"},
	{vm_args, "./config/vm.args"},

	{dev_mode, true},
	{include_erts, false},
	{extended_start_script, true}
       ]
}.
